<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ADOConnection" connectionString="data source=DESKTOP-IIOS2UM\SQLEXPRESS;initial catalog=Test;user id=sa;password=sa123;MultipleActiveResultSets=True" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>